$bg_color : #FAF8EF;
$li_size : 16px;

body {
    background: #FAF8EF;
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family: ArialRoundedMTBold;
    color: #3D190B;
}

.title {
    margin: 0 auto;
    text-align: center;
    font-size: 26px;
    margin-top: 65px;
    margin-bottom: 65px;
    color: #776E65;
}

.calender {
    margin: 0 auto;
    width: 140px;
    margin-bottom: 60px;
}

.month-text {
    font-size: 15px;
    color: #776E65;
    text-align: right;
    margin-top: 8px;
    margin-bottom: 8px;
}

.description {
    font-size: 12px;
    color: #BBADA0;
    width: 130px;
    margin-top: 8px;
    margin-bottom: 8px;
    dd {
        margin: 0px;
    }
}

.cal-table::after {
    clear: both;
    content: '';
    display: block;
}


ul {
    width: 100%;
    list-style: none;
    float: left;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

li {
    float: left;
    width: 18px;
    height: 18px;
    background: #EDE9DF;
    margin: 1px;
    border-radius: 2px;
    font-size: 12px;
    text-align: center;
    line-height: 18px;
    color: #776E65;
}

.li-blank-true {
    background: #FAF8EF;
}

.li-heighlight-true {
    background: #BE2E36;
    color: white;
}

.li-predict, .confirm-false {
    background: #E78D93;
}

.today-true {
    margin: -1px;
    border: #776E65 2px solid;
    border-radius: 3px;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 374px) {
    /* iPhone 5 or lower */
    .title { margin: 30px auto; }
    .calender { margin-bottom: 30px; }
}

@media only screen and (min-device-width : 375px) and (max-device-width : 414px) {
    /* iPhone 6 or higher */
    .title { margin: 40px auto; }
    .calender { margin-bottom: 40px; }
}
